<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935887439924-lucmkjqd8k3v69i0jdm93r19su2rcedi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935887439924-lucmkjqd8k3v69i0jdm93r19su2rcedi</string>
	<key>API_KEY</key>
	<string>AIzaSyCAEjSOtGkNiZYDrOOf7Yv6KFg3r8-ATZU</string>
	<key>GCM_SENDER_ID</key>
	<string>935887439924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AtenB.BikPik</string>
	<key>PROJECT_ID</key>
	<string>bikpik</string>
	<key>STORAGE_BUCKET</key>
	<string>bikpik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935887439924:ios:6fe42ad2285ac6af1d2261</string>
</dict>
</plist>